amqp
asgiref
async-timeout
backports.zoneinfo
billiard
cached-property
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-celery-results
django-cors-headers
django-filter
django-jazzmin
django-redis
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
drf-yasg
gunicorn
idna
importlib-metadata
importlib-resources
inflection
kombu
mysqlclient
packaging
Pillow
prompt-toolkit
psycopg2-binary
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
rest-framework-simplejwt
six
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
whitenoise
zipp